* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
  line-height: 25px;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

.checked {
  color: orange;
}

h2 {
  color: blue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  letter-spacing: 2px;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

nav ul {
  display: flex;
  position: fixed;
  top: 0px;
  right: 10px;
  align-items: center;
  padding: 15px 20px;
}

nav li {
  margin-right: 30px;
  list-style: none;
}

nav button {
  border: none;
  background: none;
}

nav a {
  text-decoration: none;
  color: white;
}

header img {
  width: 100%;
  height: 620px;
  object-fit: contain;
  margin-top: 60px;
  background-color: rgba(55, 16, 49, 0.5);
}

header h1 {
  margin: -70px 20px 50px 20px;
  letter-spacing: 3px;
  color: blue;
}

.wrapper {
  margin: 100px 150px 20px 150px;
}

section .about {
  display: flex;
  justify-content: space-between;
}

.secttext {
  margin-left: 50px;
}

.sectimage img {
  width: 500px;
  height: 670px;
  object-fit: contain;
  border-radius: 10px;
}

.secttext h2 {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-size: 30px;
}

.secttext p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

hr {
  border: 0.5px rgb(35, 35, 35) solid;
  margin-top: 70px;
  margin-bottom: 70px;
}

#menu {
  display: flex;
}

#menu h2 {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-size: 30px;
}

#menu h3 {
  line-height: 1.5em;
}

#menu img {
  width: 500px;
  height: 670px;
  object-fit: cover;
  border-radius: 10px;
}

#menu .text {
  margin-right: 50px;
}

#menu p {
  line-height: 1.3em;
}
aside h2 {
  text-align: start;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-size: 30px;
}

footer {
  padding: 10px 0px;
  text-align: center;
  letter-spacing: 1px;
  background-color: rgba(6, 6, 6, 0.2);
}

footer a {
  color: blue;
  letter-spacing: 2px;
}

.review {
  padding: 0 200px 0px 200px;
}

.review h2 {
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-size: 30px;
}

.review h3 {
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 20px;
}

.review p {
  font-size: 15px;
  text-align: justify;
  margin-left: 100px;
  line-height: 1.3em;
  letter-spacing: 1px;
  font-family: "Uchen", serif;
}

.review header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 0;
  object-fit: contain;
  border: 1px solid blue;
}

.customer img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-top: 0;
}

.logos {
  text-align: center;
  margin-top: 20px;
}
.logos img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

button {
  margin-right: 600px;
  padding: 5px;
  font-size: 12px;
  font-style: oblique;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}

.light-mode {
  background-color: white;
  color: black;
}

#contacts h2 {
  text-align: center;
}

#contacts p {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  margin-top: 5px;
  font-weight: 700;
}

#contacts span {
  color: violet;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}

.whatsapp img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  position: fixed;
  border-radius: 0%;
  bottom: 20px;
  right: 20px;
  box-shadow: 1px 1px 5px beige;
}

.text p {
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text h3 {
  font-family: cursive;
  color: brown;
}

.menux {
  background-color: rgba(165, 42, 42, 0.7);
  color: black;
  border: none;
  margin-right: 0px;
  text-align: center;
  margin-left: 40%;
  border-radius: 5px;
  padding: 5px 10px;
  font-style: oblique;
  font-weight: bold;
}

.address p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(40, 102, 40);
  font-weight: 700;
}

/* #map {
  height: 400px;
  width: 400px;
} */
